<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ErrorMachineManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ErrorMachineManagement.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>autoadmin</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>!AutoM2tion</value>
      </setting>
      <setting name="useAuth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="urlconfig" serializeAs="String">
        <value>\\107.114.38.89\Automation_G\XX. SW Automation 1P\0. Nguyen Van Nguyen\PadUpdate\ClientUpdateInfo.xml</value>
      </setting>
      <setting name="autoStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="timeOut" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>6789</value>
      </setting>
    </ErrorMachineManagement.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="PAD_MCEMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PAD_MCEM;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>